<html>
{% for post in include.content %}
    <button class="collapsible">
        <h6><b>{{ post.location }}</b> - {{ post.title }}</h6>
    </button>
    <div class="content">
        <img id="dropImg" class="drop-img" src="{{ post.image }}">
        <div id="imgModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img-modal">
            <div id="caption"></div>
        </div>
        <p style="padding-top: 15px;"><u>Project description:</u></p>
        <p>{{ post.description }}</p>
        {% if post.contributors %}
        {% assign contributors = post.contributors | split: ", "%}
            <p>
                <u>Other contributors to the project:</u>
                <ul>
                    {% for contributor in contributors %}
                    <li>{{ contributor }}</li>
                    {% endfor %}
                </ul>
            </p>
        {% endif %}
        {% assign tasks = post.tasks | split: ", "%}
        <p>
            <u>Responsibilities:</u>
            <ul>
                {% for task in tasks %}
                    <li>{{ task }}</li>
                {% endfor %}
            </ul>
        </p>
        {% assign tools = post.tools | split: ", " %}
        <p>
            <u>Tools & packages used:</u>
            <ul>
                {% for tool in tools %}
                <li>{{ tool }}</li>
                {% endfor %}
            </ul>
        </p>
        <div class="collapsible-grid">
            {% if post.article %}
                <a href="{{ post.article }}" target="_blank">
                    <img src="/assets/img/article.png" height=25px>
                    Article
                </a>
            {% endif %}
            {% if post.github %}
                <a href="{{ post.github }}" target="_blank">
                    <img src="/assets/img/github.png" height=25px>
                    Code repo
                </a>
            {% endif %}
            {% if post.website %}
                <a href="{{ post.website }}" target="_blank">
                    <img src="/assets/img/website.png" height=25px>
                    Website
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
</html>

<script>
    var modal = document.getElementById("imgModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("dropImg");
    var modalImg = document.getElementById("img-modal");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }
</script>