<html>
<div class="grid-container">
{% for post in include.content %}
    <div class="card">
        <h5><b>{{ post.title }}</b></h5>
        <h6>{{ post.location }}</h6>
        <img src="{{ post.image }}" style="padding-bottom: 5%">
        <p><button class="button">More informations</button></p>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h6 style="text-align: center;"><b>{{ post.title }}</b> - {{ post.location }}</h6>
            </div>
            <div class="modal-body">
                <div class="modal-body-grid">
                    {% if post.image %}
                    <img src="{{ post.image }}">
                    {% endif %}
                    <div>
                        <p style="padding-top: 15px;"><u>Project description:</u></p>
                        <p>{{ post.description }}</p>
                    </div>
                    <div>
                        {% assign tools = post.tools | split: ", " %}
                        <p>
                            <u>Tools & packages used:</u>
                            <ul>
                                {% for tool in tools %}
                                <li>{{ tool }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <div>
                        {% assign tasks = post.tasks | split: ", "%}
                        <p>
                            <u>Responsibilities:</u>
                            <ul>
                                {% for task in tasks %}
                                    <li>{{ task }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    {% if post.contributors %}
                    <div>
                        {% assign contributors = post.contributors | split: ", "%}
                        <p>
                            <u>Other contributors to the project:</u>
                            <ul>
                                {% for contributor in contributors %}
                                <li>{{ contributor }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                {% if post.article %}
                    <a href="{{ post.article }}" target="_blank">
                        <img src="/assets/img/article.png" height=25px>
                        Article
                    </a>
                {% endif %}
                {% if post.github %}
                    <a href="{{ post.github }}" target="_blank">
                        <img src="/assets/img/github.png" height=25px>
                        Code repo
                    </a>
                {% endif %}
                {% if post.website %}
                    <a href="{{ post.website }}" target="_blank">
                        <img src="/assets/img/website.png" height=25px>
                        Website
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
</html>

<!-- <script>
    /* Modal reactivity */
    
    // Get elements in variables
    var btn = document.getElementsByClassName("trigger");
    var btnArr = Array.from(btn).entries();
    // var btn = document.getElementById("modalButton");
    var modals = document.getElementsByClassName("modal");
    // var modal = document.getElementById("modalContent");
    var spans = document.getElementsByClassName("close");

    // For loop to make buttons reactive
    for (let [index, trigger] of btnArr){
        var toggleModal = function() {
            modals[index].classList.toggle("modal-content");
        };
        trigger.addEventListener("click", toggleModal);
        spans[index].addEventListener("click", toggleModal);
    }

    /*
    // Open modal on button click
    for (let i in btn){
        btn[i].onclick = function() {
            modals[i].style.display = "block";
        }
    }
    // Close modal on click (x)
    for (let i in spans){
        spans[i].onclick = function() {
            modals[i].style.display = "none";
        }
    }
    // Close modal when click outside of it
    for (let i in modals){
        window.onclick = function(event) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
            }
        }
    }
    */
</script> -->
